
.card, .card .item {
    padding: 4px 0;
    background: #FFF;
    --background: #FFF;
}

.card .item .label {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.description {
    padding: 10px 16px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #979797;
}