

.content {
    /* --background:  #4965f6 !important;  */
    /* --background: #fcfdfd !important;  */
    --background:#f9f9fb !important; 
}
.fon {
    /* --background:  #4965f6 !important;  */
    --background: #ffffff !important; 
    /* color:#ffffff !important; */
}

.group {
    /* --background:  #3D5BF6 !important; */
    /* --background:  #4261f5 !important; */
    --background:  #f9f9fb!important;
    border-radius: 10px; 
    margin-bottom: 15px;
    

}
.menuButton {
    color: darkslategrey;
}
.tabBar {
    --background: #fff;
}
.group .item {
    /* --background:  #3D5BF6 !important; */
    /* --background:  #4261f5 !important; */
    /* --background:  #fffff !important; */
    --background:  #f4f4f4 !important;
    /* color: #029ad6; */
    color: #000000;;
    font-size: 18px;
    /* --background:transparent !important; */
}
.group .item .name {
    font-weight: 500;
}
.group .item ion-icon.md {
    /* color:#029ad6; */
    color:#000000;
}
.fon .item {
    /* --background:  #4965f6 !important;  */
    --background: #ffffff !important; 
    /* color:#ffffff !important; */
    
}
.flex {
    display: grid;
    /* justify-content: space-between; */
    background-color: #f4f4f4;
    align-items: center;
}

.flex .item {
    width: 100% !important;
}

.flex .listItem {
    width: 100%;
   background: transparent;
 
}
.flex .select {
   background: transparent !important;
 
}

.listItem .item ion-label {
    padding-left: 10px;
    
}

.select {
    display: flex;
    justify-content: space-evenly;
    /* background:  #3D5BF6 !important; */
    /* background:  #4261f5 !important; */
    background:  #ffffff !important;
    /* background: #fff !important; */
    /* color:#fff; */
    color:#029ad6;
}

ion-card {
    border-radius:10px;

}


.select .item {
    /* --background:  #3D5BF6 !important; */
    /* --background:  #4261f5 !important; */
    /* --background:  #ffffff !important; */
    /* color:#fff; */
    /* color:#029ad6; */
    color:#000000;
    /* --background: #fff!important; */
    /* color:#000; */
}
.select .icon-inner {
    color:#fff !important;
}
.select .textLS {
    width: 140% !important;
    font-size: 17px;
}
 .textBalance {
    /* width: 40%; */
    font-size: 17px;

}
 .textCredit {
    /* width: 30%; */
    font-size: 17px;
}
.balanceCard {
    /* background:  #3D5BF6 !important; */
    background: #f4f4f4 !important;
}

.balanceCard .item {
    /* --background:  #3D5BF6 !important;
    color:#fff; */
    /* --background: #fff!important; */
    /* color:#929599; */
    --background:  #f4f4f4 !important;
    /* color: #029ad6; */
    color: #000000;;
}
.custom-select .icon-inner, .ionicon, svg {
    
    color:#fff !important;
}

.custom-select {
    --color: #fff; /* Задайте цвет стрелки */
    /* --icon-color-selected: blue;  */
    --icon-color-selected: black; 
  }
  
  .custom-select .select-icon {
    color: var(--color); /* Задайте цвет стрелки */
  }
  
  .custom-select .select-icon.selected {
    color: var(--icon-color-selected); /* Задайте цвет стрелки для выбранных элементов */
  }
.Balance{
    width: 100%;
    text-align: center !important;
    display: grid;
    /* color: #000; */
    color: #929599;
}

.footerButton {
    display: grid;
    justify-content: space-around;
    width: 100%;
}

.footerButton .buttons {
    display: flex;
    justify-content: space-between;
}

/* .myIp {
    padding-right: 10px;
} */
.toolbar {
    /* --background: #00a9e9 !important;  */
    --background: #fcfdfd !important; 
}

/* .footer .full-width {
    width: 100%;
} */

ion-img.logoApp.md {
    width: 100px;
    padding-right: 15px;
}

.toolbar .myIp {
    color:#0B7AE8;
    font-weight: bold;
    padding-left: 20%;

}


.avatar {
    width: 100%;
    display: grid;
    justify-content: center;
    /* display: none; */
    background: #216ac9;
    text-align: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
.avatar ion-avatar {
    width: 100%;
}
.avatar img {
    /* max-width: 40%; */
    width: 65px;
    height: 65px;
}

.avatar .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: center;

}

.avatar .phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: center;
    opacity: 70%;
    padding-top: 5px;
}

.avatar .selectLs {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.09px;
    text-align: center;
    align-items:center;

}
.avatar .selectLs .mySelect {
    width: 80px;
    padding-left: 5px;
}
.avatar .select {
    background: transparent !important;
  
 }
 

 
 .avatar .select {
     display: flex;
     justify-content: space-evenly;
     /* background:  #3D5BF6 !important; */
     /* background:  #4261f5 !important; */
     /* background:  #ffffff !important; */
     /* background: #fff !important; */
     /* color:#fff; */
     color:#029ad6;
 }
 
 
 .avatar .selectLs .item {
     /* --background:  #3D5BF6 !important; */
     /* --background:  #4261f5 !important; */
     /* --background:  #ffffff !important; */
     /* color:#fff; */
     /* color:#029ad6; */
     color:#000000;
     /* --background: #fff!important; */
     /* color:#000; */
     --background: transparent !important;
 }
 .avatar .selectLs .icon-inner {
     color:#fff !important;
 }
 .avatar .select .textLS {
     width: 140% !important;
     font-size: 17px;
 }


.package{
    margin-bottom: -8px;
    --background:transparent;
    /* color:#000; */
    /* color:#ffffff; */
    color:#000000;
}

.package ion-label {
font-size: 20px !important;
font-weight: 500;
margin: 0px;
padding: 0px;
}

.activePackage {
    /* background:  #3D5BF6 !important;  */
    /* background:  #fff !important;  */
    background:  #f9f9fb !important; 
    color:#000;
    display: grid;
}
.activePackage .item {
    /* --background:  #3D5BF6 !important;  */
    --background:  transparent;
    color:#000;
    padding-right: 15px;
    /* display:block; */
}
/* .strong {
    font-size: 18px;
    color:#000;
    padding-left:16px;
    padding-top: 20px;
} */
.strong {
    font-size: 18px;
    color: #000000;
    /* color: #fff; */
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -9px;
    /* background: #3e5aec; */
    background: transparent;
}

/* .namePage {
    font-size: 20px;
    font-weight: 600;
} */