<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
				<key>dateExpires</key>
				<string>11/10/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityHttp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BE78B3B5C742379F110450A659FE30110CDC1BA</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>96527RDEL2</string>
						<key>name</key>
						<string>LLC Babilon-T</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>96527RDEL2.com.iqbol.BT</string>
				<key>com.apple.developer.team-identifier</key>
				<string>96527RDEL2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6e9d9c67-6c66-45ba-b452-2f6dc0e21129</string>
				<key>dateExpires</key>
				<string>11/10/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.iqbol.BT</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>96527RDEL2</string>
				<key>name</key>
				<string>LLC Babilon-T</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
